html, body {
    margin: 0;
    padding: 0;
}


.menu {
    width: 100%;
    position: absolute;
    z-index: 1;
    padding:0;
    text-align: center;
    }

.menu .list {
    display: inline-block;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    font-family: 'Lobster', cursive;
    letter-spacing: 10px;
}

.menu a:hover {
    color: black
}

.menu li img {
    width: 10%;
    float: left;
    display: block;
}

.menu li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgba(146, 9, 77);
}

.sectionbkg {
    background-image: url(bkg.jpg);
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

#home {
    display: flex;
    border-bottom: 2px solid rgb(199, 195, 195);
}

#homeleft {
    width: 60%;
    margin-top: 10%;
    padding: 20px;
    text-align: justify;
    letter-spacing: 3px;
}

#homeleft p {
    font-family: 'Kalam', cursive;
    font-size: 18px;
}

#homeleft h2 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

#homeright {
    width: 100%;
    margin-top: 15%;
    }

#homeright img {
    width: 70%;
    padding: 30px;
    margin-top: 10px;
}

img {
    max-width: 400px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin-left: 10px;
}

#staff {
    display: flex;
    border-bottom: 2px solid rgb(199, 195, 195);
}

#staffleft {
    width: 15%;
    padding: 10px;
}

#staffleft img {
    width: 80%;
}

#staffright {
    width: 100%;
}

#tracy {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

#staffleft h3 {
    font-family: 'Indie Flower', cursive;
    padding: 30px;
    text-align: center;
}

#staffleft h4 {
    font-family: 'Indie Flower', cursive;
    margin-top: 250px;
    text-align: center;
}

#staffright p {
    letter-spacing: 1px;
    text-align: justify;
    font-family: 'Kalam', cursive;
}

#team {
    padding: 20px;
    margin: 0;
    line-height: 2px;
}

button {
    background-color: gray;
    color: black;
    border-radius: 5px;
    width: 100px;
    margin-left: 550px;
}

#programs {
        border-bottom: 2px solid rgb(199, 195, 195);
    }
   #programs div{
       display:flex;
         padding: 10px;
   } 
   #programs p{
       text-align: justify;
       padding:20px;
   }


#contact {
      display: flex;
      border-bottom: 2px solid rgb(199, 195, 195);
}

#contact h3 {
    text-align: center;
    padding: 10px;
    color: rgb(16, 143, 194);
    font-family: 'Indie Flower', cursive;
}

.contactleft {
    width: 50%;
    padding: 10px;
}

.contactright {
    width: 50%;
}

.contactright div {
    display: block;
    width: 400px;
    margin: 0 auto;
}

footer img {
    position: fixed;
    bottom: 0;
    width: 5%;
}

@media (min-width: 300px) {
    .background
     .menu #home #homeleft #homeright #staff #staffleft #staffright #team #programs .programsleft .programsright #contact .contactleft.contactright
}