html, body {
    margin: 0;
    padding: 0;
}

.menu {
    width: 100%;
    position: absolute;
  
}

.menu .list {
    display: inline-block;
    padding: 25px;
    font-size: 20px;
    text-align: center;
}

a:hover {
    color: black
}

.menu li img {
    width: 10%;
    float: left;
    display: block;
}

.menu li {
    list-style: none;
    }
 
a {
    text-decoration: none;
    color: rgba(146, 9, 77);
}

.pagesection {
    position: relative;
    height: 700px;
   
}

.pagesection h2 {
    margin: 0;
    font-family: bohemian;
}

.sectionbackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    opacity: 0.4;
}

#home {
    background-image: url(3.jpg);
}

#left {
    width: 50%;
    display: grid;
    float: left;
    margin-top: 10%;
}

h2 {
    padding: 30px;
    font-family: bohemian;
}

p {
    padding: 20px;
    margin: 0;
    text-align: justify;
    letter-spacing: 2px;
   
}

button {
    background-color: gray;
    color:black;
    border-radius: 5px;
    width: 100px;
    margin-left:550px;
  }

#right {
    width: 50%;
    display: grid;
    float: right;
    margin-top: 15%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

img {
    max-width: 400px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin-left: 10px;
}

#staff {
    background-image: url(4.jpg);
}

#programs {
    background-image: url(2.jpg);
}

#contact {
    background-image: url(4.jpg);
}

footer img {
    position: fixed;
    bottom: 0;
    width: 5%;
}
@media (min-width: 300px) {
    .menu
    }

@media (min-width: 400px) {
    .pagesection
  }